body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

.pre-header {
    background-color: darkslategray;
    color:#FFF;
    padding-top: 20px;
    height: 60px;
}

.pre-header p {
    letter-spacing: 4px;
    color: darkred;
    font-family:sans-serif;
    font-weight: 700;
}

.pre-header .menu {
    text-transform: uppercase;
    
    
}

.pre-header .menu ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    
}

.pre-header .menu ul li a {
    color:#FFF;
    text-decoration: none;
    float: right;
}

.main-nav .nav {
    height: 40px;
}

.main-nav .nav ul li {
    display: inline-block;
    margin-left: 20px;
    
}



.main-nav .nav ul {
    list-style: none;
    padding-top: 90px;
    text-transform: uppercase;

}

.main-nav .nav ul li {
    border: 1px solid transparent;
    border-radius: 40px;
    padding: 5px;


}


.main-nav .nav ul li a {
    text-decoration: none;
    color: dimgray;
    

}

.main-nav .nav ul li a:hover {
    transition: .6s;
    font-size: 20px;
    box-shadow: 0 0 15px darkred;
    border: 0px solid transparent;
    border-radius: 40px;
    padding: 5px;

}

.hero-box {
    background-image: url('../images/hero.jpg');
    background-position: top;
    background-size: cover;
    height: 900px;
    filter: sepia(40%);

}

.hero-box h1 {
    color:darkred;
    margin-top: 100px;
    margin-bottom: 40px;
}


.hero-box p {
    color:#FFF;
    margin-bottom: 200px;
    font-size:18px;
}

.story-section {
    text-align: center;
    height: auto;
    
}

.story-section h2 {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
}




.story-section i {
    font-size: 30px;
    margin-bottom: 30px;
}


.gallery {
    align-content: center;
    background: #606c88;  
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  
    background: linear-gradient(to right, #3f4c6b, #606c88); 
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
    height: auto;
}


.gallery h2 {
    text-align: center;
    font-size: 55px;
}

.gallery img {
    width:300px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 35px;
    margin-left: 35px;
    filter:grayscale(80%);
    transition: 1s;
}

.gallery img:hover {
    filter: grayscale(0);
    transform: scale(1.2);
}






.footer {
    height: 500px;
    background-color: lightgray;

   

}


.footer h3  {
    padding: 120px 20px 20px 20px;
    margin: 0;
    text-align: center;
    color: darkred;
    letter-spacing: 5px;
}

.footer p  {
    padding: 10px 20px 20px 20px;
    margin: 0;
    text-align: center;
    color: #FFF;
    font-size:18px;
    border: 1px solid #8855;
   
}






.footer ul {
    text-align: center;
    list-style: none;
    padding: 130px 50px 20px 50px;
    margin: 0;
    float: right;
    font-size: 20px;
    text-transform:uppercase ;
    align-items: center;
    float: none;


}




.footer ul li a {
    color: #FFF;
    text-decoration: none;
    letter-spacing: 4px;


    


}


.footer ul li a:hover {
    letter-spacing: 12px;
    color: darkred;
    font-size: 25px;
}

.footer i {
    font-size: 35px;
    padding-bottom: 20px;
    color: darkred;


}

.hand-down i {
    color:#9888;
}

.newsletter h5 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}


.newsletter .form {
    text-align: center;

}

.newsletter input {
    text-align: center;

}



.newsletter .btn {
    padding-top: 30px;
}


.footer2 ul {
    list-style: none;
    padding: 30px 0 0 0;
    text-align: center;
    
}

.footer2 ul li {
    display: inline;
    padding: 10px;
    font-size: 25px;
}

.footer2 p {
    text-align: center;
    color: #9988;
}





    
